body { 
	font-family: Tahoma, Verdana, Arial, sans-serif; 
}

h1, h2, h3 { 
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px; 
	padding: 0px; 
	text-decoration: none;
	color: #000000;
	font-weight: normal;
}

h1 { font-size: 12pt; }
h2 { font-size: 8pt; }
h3 { font-size: 6pt; }

a, a:hover {
	color: #a10e09; 
	text-decoration: none; 
}

/* PARENT */
.parent {
	font-size: 8pt;
	font-weight: bold;
/*	text-align: left;
	padding-right: 15px;
	padding-left: 10px;*/
}

/* TITLE */
.title {
	font-size: 9pt;
	font-weight: bold;
	text-align: center;
}

/* FILENAME */
.filename {
	font-size: 8pt;
	font-weight: bold;
	text-align: left;
	padding-right: 15px;
	padding-left: 10px;
}

/* SIZE */
.size {
	font-size: 8pt;
	font-weight: normal;
	text-align: left;
	padding-right: 10px;
	padding-left: 5px;
}

/* LASTMOD */
.lastmod {
	font-size: 8pt;
	font-weight: normal;
	text-align: center;
} 
